*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--white)
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather {
    background-color: var(--main-color);
    padding: 20px;
    
    width : 300px;
    gap: 15px;
    position: relative;
    animation: fade-in;
}

.weather .weather-body {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width : 100%;
    gap: 15px;
}

.weather .navbar {
    display: flex;
    align-self: flex-start;
    gap: 15px;
    align-items: stretch;
    border-bottom: 3px solid var(--white);
    width: 100%;
    padding-bottom: 10px;
}

.weather .navbar button {
    background-color: transparent;
    border: none;
    font-weight:600;
    cursor: pointer;
}

.weather .navbar button span:hover {
    font-weight: 900;
    transition: var(--basic-transition);
}

.weather .navbar h3 {
    font-size: medium;
}

.weather .enter-city {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 5px;
}

.weather .enter-city input {
    border: 2px solid var(--white);
    outline: none;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    background-color: var(--main-color);
    flex-grow: 5;
}

.weather .enter-city input::placeholder {
    color: var(--white)
}

.weather .enter-city button {
    flex-grow: 1;
    background-color: transparent;
    font-weight:600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: var(--basic-transition);
}

.weather .enter-city button span:hover {
    font-weight: 900;
    transition: var(--basic-transition);
}


.weather hr {
    border: none;
    border-top: 3px double var(--white);
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 100%;
}

.weather hr.or::after {
    background-color: var(--main-color);
    content: 'OR';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.weather button#get-location {
    width: 100%;
    text-align: center;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(6, 117, 145)
}

.weather button#get-location:hover {
    background-color: rgb(7, 67, 102);
    color: white;
    transition: all 0.2s;
}

.weather .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.weather .temp {
    text-align: center;
}

.weather .feels-like {
    padding: 30px;
    background-color: aliceblue;
    border-radius: 50%;
}

.weather .feels-like * {
    color: var(--main-color);
}

.weather .display-city {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather .details {
    display: flex;
    gap: 40px;
}

.weather .details h5 {
    font-weight: 300;
    font-size: x-small;
}

:root {
    --main-color: rgb(14, 123, 187);
    --white: rgb(241, 241, 241);
    --basic-transition: all 0.2s;
}

@keyframes fade-in { 
    from { opacity: 0; } 
    to { opacity: 1; } 
} 